{% extends "bootstrap/base.html" %}
{% block title %}Symantec{% endblock %}
{% block navbar %}

 <script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
<script src = "{{url_for('static',filename='canvasjs.min.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='sidemenu.css') }}">



  
	<div id="page-content-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand active" href="#">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/">Admin</a></li>
					<li><a href= "#">Search</a></li>
					<li><div class = "form">
							
									<form action = "/" method = post>	
										{{form.user(placeholder="  Enter user")}}
									
										{{form.submit(value="go",class="btn btn-default btn-xs active")}}									
									</form>
								</div>
							</li>
				</ul>
			</div>
		</div>
{% endblock %}
{% block content %}

<div id="wrapper" class="active">

		<div id="sidebar-wrapper">
			<ul id="sidebar_menu" class="sidebar-nav">
				<li class="sidebar-brand"><a id="menu-toggle" href="#">Symantec<span id="main_icon"></span></a></li>
			</ul>
			<ul class="sidebar-nav" id="sidebar">     
				<li><a>Link1<span ></span></a></li>
				<li><a>link2<span ></span></a></li>
			</ul>
		</div>

<script type="text/javascript">
	window.onload = function () {

		// dataPoints
		var dataPoints1 = [];

		var chart = new CanvasJS.Chart("chartContainer",{
			zoomEnabled: true,
			title: {
				text: "Cluster Usage"		
			},
			toolTip: {
				shared: true
				
			},
			legend: {
				verticalAlign: "top",
				horizontalAlign: "center",
                                fontSize: 14,
				fontWeight: "bold",
				fontFamily: "calibri",
				fontColor: "black"
			},
			axisX: {
				title: "time",
			},
			axisY:{
				title:"elapsed time",
				includeZero: true,
				suffix:'s'
			}, 
			data: [{ 
			
				// dataSeries1			
				type: "column",
				xValueType: "dateTime",
				click:onClick,
				showInLegend: false,
				name: "",
				
				dataPoints:dataPoints1
			}],
          legend:{
            cursor:"pointer",
            itemclick : function(e) {
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
              }
              else {
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
		});

		var time;
		var finish;
		var elapsed;
		var yValue1 = 65; 
		var job;
		
		var init = function(){

				// count is number of times loop runs to generate random dataPoints. 
		
				{% for t in result%}
				
				time = new Date("{{t[5]}}");
				finish = new Date("{{t[4]}}");
				// add interval duration to time				
				elapsed = Math.abs(finish-time)/1000;
				job="{{t[0]}}";
				
				
				// pushing the new values
				dataPoints1.push({
					x: time.getTime(),
					y: elapsed,
					z:job
				});


				{%endfor%}
			
			

			chart.render();

		
		};
		
		init();
		function onClick(e){
			var d =e.dataPoint.z

			window.location.assign("/"+d)
		}
		
		
		 
		
	}	

</script>			
	
	
	
	
	
	  
		<br><br>
		<br>
		<br>
		<h1> Admin dashboard <i>  </i></h1>
		
		
		
		
		
		
		
		
		
		
		
		
		
		<hr>
		<div class="page-content inset">
			<div class="row">
				<div class="col-md-12">
					<div align ="right" id="chartContainer" style="float:left; height: 300px; width: 90%;">
					</div>              
				</div>
			</div>
			<br>
			<hr>
			
			
			
		<div class = "table">
			<h3>Applications: 
						{% set var =[]%}
					
					</h3><br>
			
		<table id="example" class="table table-striped table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
			<thead style="background-color:'black';">
				<tr>
					<th>#</th>
					<th>Application ID</th>
					<th>Severity</th>
					<th>Name</th>
					<th>User</th>
					<th>Queue</th>
					<th>Start Time</th>
					<th>Finish Time</th>
					<th>Elapsed Time</th>
					<th>State</th>
					<th>Tracking UI</th>
				</tr>
			</thead>
				
			<tbody>
				{% set var1 = {'flag':'LOW'} %}
				{%for job in result %}
					
					{% for value in list.values()%}
						{%for v in value%}
							{% if v[0] == job[0] and v[3]=="HIGH"%}
								
									{% if var.append(v[0])%}
									{%endif%}
									
									
							{%endif%}
						{%endfor%}
					{%endfor%}
				
				
				<tr>
					<th>{{loop.index }}</th>
					<td><a href="/{{job[0]}}">{{job[0]}}</a></td>
					<td>{% if job[0] in var %}
							<font color= "red"> HIGH </font>
						{%else%}
							<font color= "green" > LOW </font>
						{%endif%}	
							</td>
					<td>{{job[1]}}</td>
					<td>{{job[2]}}</td>
					<td>{{job[3]}}</td>
					<td>{{job[4]}}</td>
					<td>{{job[5]}}</td>
					<td>{{job[8]}}
					<td>{{job[6]}}</td>
					<td><a href = "{{job[7]}}" target="_blank">VIEW</a></td>
				</tr>
				
				{%endfor%}
			</tbody>
		</table>	
			<u>*Click on Application ID to view heuristics.</u>
		
		
		</div>
			</div>
	</div>
	  
{% endblock %}