{% extends "bootstrap/base.html" %}
{% block title %}Symantec{% endblock %}
{% block navbar %}
<style>
body {font-family: "Lato", sans-serif;}

</style>

<script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
<script src = "{{url_for('static',filename='canvasjs.min.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='sidemenu.css') }}">


	
  
	<div id="page-content-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand active" href="#">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/">Admin</a></li>
					<li><a href= "#">Search</a></li>
					<li><div class = "form">
							
									<form action = "/" method = post>	
										{{form.user(placeholder="  Enter user")}}
										
										{{form.submit(value="go",class="btn btn-default btn-xs")}}	
									</form>
								</div>
							</li>
				</ul>
			</div>
		</div>
{% endblock %}
{% block content %}
	<div id="wrapper" class="active">

		<div id="sidebar-wrapper">
			<ul id="sidebar_menu" class="sidebar-nav">
				<li class="sidebar-brand"><a id="menu-toggle" href="#">Symantec<span id="main_icon"></span></a></li>
			</ul>
			<ul class="sidebar-nav" id="sidebar">     
				<li><a>Link1<span ></span></a></li>
				<li><a>link2<span ></span></a></li>
			</ul>
		</div>
		
		
		
		<br><br>
		<br>
		<br>
		<h1  onmouseover="this.innerHTML='Heuristics : {{rv[0][5]}}';" onmouseout ="this.innerHTML = 'Heuristics : {{rv[0][5][0:30]}}...';" >Heuristics : {{rv[0][5][0:30]}}...</h1>
		<br>
		
		<ul class="nav nav-pills">
			<li><a href="/heuristic/{{job}}/Mapper_Spill">Mapper Spill</a></li>
			<li><a href="/heuristic/{{job}}/Mapper_GC">Mapper GC</a></li>
			<li><a href="/heuristic/{{job}}/Reducer_GC">Reducer GC</a></li>
			<li><a href="/heuristic/{{job}}/Mapper_Speed">Mapper Speed</a></li>
			<li><a href="/heuristic/{{job}}/Mapper_Time">Mapper Time</a></li>
			<li><a href="/heuristic/{{job}}/Reducer_Time">Reducer Time</a></li>
			<li><a href="/heuristic/{{job}}/Mapper_Data_Skew">Mapper Data Skew</a></li>
			<li class="active"><a href="/heuristic/{{job}}/Reducer_Data_Skew">Reducer Data Skew</a></li>
			<li><a href="/heuristic/{{job}}/Mapper_Memory">Mapper Memory</a></li>
			<li><a href="/heuristic/{{job}}/Reducer_Memory">Reducer Memory</a></li>
		</ul>
		<div class = "maps">
		<div id="map_spill">
			<div class="row">
				<div class="col-md-12">
					<div align ="right" id="chartContainer" style="float:left; height: 300px; width: 90%;">
					</div>              
				</div>
			</div>
		</div>
		<br>
		<hr>
		
		{%set x={'flag':False}%}
		{%set arr =[]%}
		{%for t in rv%}	
			
				{% if t[3]=="HIGH"%}
					{%if arr.insert(0,t[1])%}
					{%endif%}
				{%set var=true%}
					{%if x.update({'flag':True})%}
					{%endif%}
				
				{%else%}	
				
				{%endif%}
				
		{%endfor%}
		
		
		
		{%if x.flag==False%}
			<h4>Severity is low for this job.</h4>
		{%else%}
		<h4>Severity is high for {{arr|reverse|join(' , ')}}</h4>
		{%endif%}
		
		
		</div>

		
		
<script type="text/javascript">



	window.onload = function () {

		// dataPoints
		var dataPoints1 = [];
		var apps = [];

		var chart = new CanvasJS.Chart("chartContainer",{
			zoomEnabled: true,
			height:300,
			width:1200,
			title: {
				text: "Reducer Data Skew"		
			},
			toolTip: {
				shared: true,
				content: "score <strong>{x}</strong> is <strong>{y}</strong>",
			},
			legend: {
				verticalAlign: "top",
				horizontalAlign: "center",
                                fontSize: 14,
				fontWeight: "bold",
				fontFamily: "calibri",
				fontColor: "black"
			},
			axisX: {
				title: "time",
				valueFormatString: "DD-MMM HH:mm"
				
			},
			axisY:{

				title:"Score",
				minimum:0,
				suffix: '',
				includeZero: true
			}, 
			data: [{ 
				// dataSeries1
				click:onClick,
				type: "column",
				xValueType: "dateTime",
				showInLegend: true,
				name: "",
				dataPoints: dataPoints1
			}],
          legend:{
            cursor:"pointer",
            itemclick : function(e) {
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
              }
              else {
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
		});


 
		
		var time;
		var app;
		var score;
	

		var init = function () {
				
		
			{%for t in rv1%}
				
				time = new Date("{{t[6]}}");
				// add interval duration to time				
				score = parseInt("{{t[1]}}")
				
				app = "{{t[2]}}"

				if (app == "{{job}}"){
					dataPoints1.push({
					x: time.getTime(),
					y: score,
					z: app,
					color:'black'
				});
				
				}else{
				// pushing the new values
				dataPoints1.push({
					x: time.getTime(),
					y: score,
					z: app,
					color:'#379EAD'
				});
				}

			{%endfor%}

			// updating legend text with  updated with y Value 
			//chart.options.data[0].legendText = " cluster " + yValue1 + "%";
			

			chart.render();

		};
		init();
		function onClick(e){
			var d =e.dataPoint.z

			window.location.assign("/"+d)
		}

		
	}
</script>

		
		
			</div>
	</div>
	  
{% endblock %}