{% block navbar %}
<meta id="my-data" data-name="{{rv}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src = "{{url_for('static',filename='js/canvasjs.min.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidemenu.css') }}">
<link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% block script %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="http://code.highcharts.com/stock/4.2.2/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/user.js')}}">
</script>
			
{%endblock%} 
	<div id="page-content-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand active" href="#">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/">Admin</a></li>
					<li><a href="#">Search</a></li>	
							<li><div class = "form">
							
									<form action = "/" method = post>	
										{{form.user(placeholder="  Enter user")}}
									
										{{form.submit(value="go",class="btn btn-default btn-xs active")}}									
									</form>
								</div>
							</li>
					
				</ul>
			</div>
		</div>
{% endblock %}
{% block content %}
	<div id="wrapper" class="active">

		<div id="sidebar-wrapper">
			<ul id="sidebar_menu" class="sidebar-nav">
				<li class="sidebar-brand"><a id="menu-toggle" href="#">Symantec<span id="main_icon"></span></a></li>
			</ul>
			<ul class="sidebar-nav" id="sidebar">     
				<li><a>Link1<span ></span></a></li>
				<li><a>link2<span ></span></a></li>
			</ul>
		</div>
		
  
		<br><br>
		<br>
		<br>
		<h1> User Dashboard:<i> {{name}} </i></h1>	
		<hr>
		<div class="page-content inset">
			<div class="row">
				<div class="col-md-12">
					<div align ="right" id="chartContainer" style="float:left; height: 300px; width: 90%;">
					</div>              
				</div>
			</div>
			<br>
			<hr>
			
		<div class = "table">
			<h3>Applications:</h3><br>
		<table id="example" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Application ID</th>
					<th>Severity</th>
					<th>Name</th>
					<th>Type</th>
					<th>Queue</th>
					<th>Start Time</th>
					<th>Finish Time</th>
					<th>Elapsed Time</th>
					<th>State</th>
					<th>Tracking UI</th>
				</tr>
			</thead>
				
			<tbody>
				{% set var = [] %}
				{% set var1 = {'flag':'LOW'} %}
				{%for job in rv %}
					{% for value in list.values()%}
						{%for v in value%}
							{% if v[0] == job[0] and v[3]=="HIGH"%}
								
									{% if var.append(v[0])%}
									{%endif%}
									
									
							{%endif%}
						{%endfor%}
					{%endfor%}
				<tr>
					<th>{{loop.index }}</th>
					<td><a href="/{{job[0]}}">{{job[0]}}</a></td>
					<td>{% if job[0] in var %}
							<font color= "red"> HIGH </font>
						{%else%}
							<font color= "green" > LOW </font>
						{%endif%}	
					</td>
					<td>{{job[1]}}</td>
					<td>{{job[3]}}</td>
					<td>{{job[4]}}</td>
					<td>{{job[5]|ctime()}}</td>
					<td>{{job[6]|ctime()}}</td>
					<td>{{job[9]}}</td>
					<td>{{job[7]}}</td>
					<td><a href = "{{job[8]}}" target="_blank">VIEW</a></td>
				</tr>
				
				{%endfor%}
			</tbody>
		</table>	
		
		
		</div>
	</div>
	</div>
	  
{% endblock %}